body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav {
  overflow: hidden;
  background-color: #e8f3f4;
}
.topnav a {
  float: left;
  color: black;
  text-align: center;
  //padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #4a6fa5;
  color: white;
}
.topnav-right {
  float: right;
  padding-right: 25px;
}
.topnav-left {
  float: left;
  padding: 10px;
  padding-left: 50px;
}

.button{
    
    margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10%;
	margin-top: 10%;
    background-color: #e8f3f4;
	border-radius: 20px;
	width: 600px;
	height: 400px;
	border-color: #D0E7E7;  
}

progress {
	background-color: #FDFEFE;
	border: 0;
	height: 18px;
	border-radius: 9px;
	margin-left: 20 px;
	margin-right: 20 px;
	margin-bottom: 20 px;
	margin-top: 20 px;
}

.grid {
	display: flex;
}


.add-button {
	background-color: #e8f3f4;
	width: 100 px;
	height: 100 px;
	border-radius: 50%;
	float: right;
	margin-right: 10%;
	
	
}
.add-button:focus {
	outline:0;
}

.button:focus {
	outline:0;
}

.menu-button{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right:  10px;
    padding-left: 10px;


}

.project-name {
  height: 80px;
  width: 350px;
  background-color: #e8f3f4;
  border-radius: 8px;
  margin: auto;
  color: #4a4b4c;
  text-align: center;
  font-size: 24px;
  line-height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}




.project-tasks {
	padding-left: 50px;
	padding-right: 50px;
	height: 450px; 
	width: 55%;
	border: 1px solid #ddd;
	//background-color: #e8f3f4;
	border-radius: 8px;
	margin-left: 5%;
	color: #4a4b4c;
	font-size: 24px;

	display: inline-block; 
}

.tasks-title {
	padding-top: 20px;
}

.tasks-btn {
		display: inline-block; 
		padding-right: 30px;
		color: #4a4b4c;
		padding: 5px;
		text-decoration: none;
		font-size: 70%;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;

}

.tasks-btn:hover {
	text-decoration: underline;
}

.task-btn-active {
	height: 20px;
	width: 10%;
	background-color: #4a6fa5;
	border-radius: 10px;
	color: white;
	text-align: center;
}

#tasks-table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 16px;
	font-size: 16px;
	//border-radius: 50px;
	padding-left: 30px;
}

#tasks-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

#tasks-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

#tasks-table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

#tasks-table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}


#tasks-table th {
	text-align: left;
	padding-top: 12px;
    padding-bottom: 12px;
}

#tasks-table tr:nth-child(even){
	background-color: white;
}
#tasks-table tr:nth-child(odd){
	background-color: #e8f3f4;
}

#tasks-table tr:hover {
	background-color: #4a6fa5;
	color: white;
}

#tasks-table td, th{
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.assignee-photo {
	width: 35px;
	border-radius: 50%;
	vertical-align: middle;


}



.members-title {
	padding-top: 20px;
	padding-bottom: 10px
}




.project-members {
	height: 450px;
	width: 20%;
	background-color: #e8f3f4;
	border-radius: 8px;

	color: #4a4b4c;
	font-size: 24px;
	text-align: center;

	padding-left: 2%;
	padding-right: 2%;

	float: right;
	margin-right: 5%;
	//overflow: scroll;


	

}

.members {
	height: 390px;
	width: 100%;
	overflow: scroll;
}



.member {
	margin-bottom: 0;
	text-align: left;
}

.member-photo {
	width: 45%;
	border-radius: 50%;
	display: inline-block; 

}

.member-photo-caption {
	font-size: 18px;
	//padding-left: 20px;
	//display: inline-block;
	float: right;
	padding-top: 25%;
	text-align: left;
}





	
	
