body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}




.project-name {
  height: 110px;
  width: 380px;
  background-color: #6190A8;
  border-radius: 20px;
  margin: auto;
  color: white;
  text-align: center;
  font-size: 24px;
  line-height: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
}




.project-tasks {
	padding-left: 50px;
	padding-right: 50px;
	grid-column-start: 1;
	grid-column-end: 3;
	
	border: 1px solid #ddd;
	//background-color: #e8f3f4;
	border-radius: 20px;
	margin-left: 5%;
	color: #455056;
	font-size: 26px;
	
	display: inline-block; 
}

.tasks-title {
	padding-top: 20px;
	display: inline-block;
}

.tasks-btn {
		display: inline-block; 
		padding-right: 30px;
		color: #4a4b4c;
		padding: 5px;
		text-decoration: none;
		font-size: 70%;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
		border-radius: 10px;
		border: none;
		width: 15%;

}

.tasks-btn:hover {
	text-decoration: underline;
}
.tasks-btn:focus {
	outline: 0;
}

.task-btn-active {
	width: 15%;
	background-color: #6190A8;
	border-radius: 10px;
	color: white;
	text-align: center;
}

#tasks-table {
	border-collapse: collapse;
	width: 100%;
	font-size: 16px;
	padding-left: 30px;
}

#tasks-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

#tasks-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

#tasks-table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

#tasks-table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}


#tasks-table th {
	text-align: left;
	padding-top: 12px;
    padding-bottom: 12px;
}

#tasks-table tr:nth-child(even){
	background-color: white;

}
#tasks-table tr:nth-child(odd){
	background-color: #CDE7F4;

}



#tasks-table tr:hover {
	background-color: #58B1DD; 
	color: white;

}

#tasks-table td, th{
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	
}

.assignee-photo {
	width: 35px;
	border-radius: 50%;
	vertical-align: middle;


}


.members-title {
	padding-top: 20px;
	padding-bottom: 10px;
}


.project-members {
	grid-column-start: 3;
	grid-column-end: 4;
	background-color: #CDE7F4;
	border-radius: 8px;

	color: #455056;
	font-size: 26px;
	text-align: center;

	padding-left: 2%;
	padding-right: 2%;

	float: right;
	margin-right: 5%;
}

.members {
	height: 390px;
	width: 100%;
	overflow-y: scroll;
}


.member-photo {
	width: 40%;
	border-radius: 50%;
	display: inline-block;
	box-shadow: 2px 2px grey;
}
.member-photo:hover, .member-photo-caption:hover {
	cursor: pointer;
}

.member-photo-caption {
	font-size: 20px;
	float: right;
	padding-top: 25%;
	text-align: left;
}
.grid-overall {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-column-gap: 5%;
}
.table-overflow {
	overflow-y: scroll;
	margin-bottom: 2%;	
}

.progress-wrapper {
	background-color: #c4cecd;
	border-radius: 8px;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	width: 80%;
	float: right;
	margin-bottom: 3%;
	margin-top: 3%;
}
.progress-bar {
	background-color: #58B1DD;
	border-radius: 8px;
	color: #455056;
	padding: 3px;
}
