body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Task header */


.task-header-bar {
	text-align: center;
}


.task-name {
    height: 110px;
  width: 380px;
  background-color: #6190A8;
  border-radius: 20px;
  margin: auto;
  color: white;
  text-align: center;
  font-size: 24px;
  line-height: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block; 

}

.edit-button {
	padding: 10px 10p 10px 10px;
	margin-left: 15px;
	line-height: 35px;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    display: inline-block; 

}

.back-button {
	line-height: 50px;
	width:50px;
	height: 50px;
	margin-right: 20px;
	
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    display: inline-block;
}





/* Task main section */
.task-breakdown {
	height: 600px;
	width: 800px;
	background-color: #CDE7F4;
	border-radius: 20px;
	margin-left: auto; 
    margin-right: auto;
    margin-bottom: 30px;
	color: #4a4b4c;
	font-size: 24px;
	grid-template-rows: 15% 9% 20% 9% 10%;

	//0.5fr 0.5fr 1fr 0.5fr 1fr;
	display: grid;
}


.catagories {
	font-size: 24px;
	padding: 20px;
}

.breakdown-heading {
	font-size: 24px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
}

.task-member-photo {
	width: 80px;
	border-radius: 50%;
	display: inline-block; 
	margin-right: 10px;

}

/* The container*/
.dropdown {
  position: relative;
  display: inline-block;
}

/* Status Dropdown */
.dropbtn {
	float: centre;
  background-color: #6190A8;
  color: white;
 	height: 30px;
	width: 160px;
  border-radius: 8px;
  font-size: 18px;
  border: none;
  margin-top: 10px;
}


/* Dropdown Content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
   border-radius: 8px;
  font-size: 18px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: centre;
  color: #4a4b4c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.member-photo {
	width: 45%;
	border-radius: 50%;
	display: inline-block; 
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #a9d2d6;
}

.description{
	float:right;
	border-style: solid;
	border-color: #AFC2CC;
	border-radius: 8px;
	font-size: 17px;
	padding: 1.5%;
	width: 500px;
	font-style: italic;
	background-color: white;
}

.skills {
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	height: 30px;
	width: 110px;
	background-color: #6190A8;
	border-radius: 8px;
	margin-right: 10px;
	margin-top: 10px;
	color: white;
	font-size: 24px;
	text-align: center;
	display: inline-block; 
}

.reg-text {
	font-size: 18px;
	text-align: centre;
	display: inline-block;
}

#subtasks-table {
	width: 100%;
	//margin-bottom: 16px;
	font-size: 16px;
	/*border-style: solid;
	border-color: #6190A8;
	border-radius: 8px;
	margin-right: 2%;
	margin-left: 2%;*/

}

#subtasks-table tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

#subtasks-table tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

#subtasks-table tr:first-child th:first-child {
    border-top-left-radius: 8px;
}

#subtasks-table tr:first-child th:last-child {
    border-top-right-radius: 8px;
}

#subtasks-table tr:nth-child(even){
	background-color: white;
}
#subtasks-table tr:nth-child(odd){
	background-color: #CDE7F4;
}

#subtasks-table td {
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.table-overflow {
	margin-right: 2%;
	margin-left: 2%;
	margin-bottom: 2%;
	overflow-y: scroll;
	border-style: solid;
	border-color: #6190A8;
	border-radius: 8px;	
}

.scrollable {
	overflow-y: scroll;
}